@import url("shttps://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:  'Heebo', sans-serif;
  font-size: 14px;
}

.wrapper {
  max-width: 900px;
  margin: auto;
  padding-top: 10px;
}

main {
  display: grid;
  grid-template-columns: 240px 640px;
  
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 10px 10px 20px;
  background-color: #dedede;
}

figure {
  text-align: center;
}

#container {
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 10px;
  background-color: #dedede;
}

section {
  margin: 10px 0 10px 0;
  padding: 4px 8px 4px 8px;
  background-color: #efefef;
}

section pre {
  color: blue;
}

h1 {
  font-size: 150%;
  font-weight: 700;
  color: #026402;
}

h2 {
  margin: 4px 0;
  font-size: 120%;
  font-weight: 600;
  color: #026402;
}

h3 {
  margin: 8px 0 2px 0;
  font-size: 100%;
  font-weight: 600;
  color: #026402;
}

ul {
  margin: 8px 0 8px 0;
  padding-left: 0;
  list-style-type: none;

}

.separator {
  height: 16px;
  width: 130px;
}

#eng, #git, #js, #php {
  background-image: url(lang2.png);
}

#html {
  background-image: url(lang3.png);
}

#photo {
  background-image: url(lang4.png);
}

#germ {
  background-image: url(lang5.png);
}

#rus, #bel {
  background-image: url(lang6.png);
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.social a:first-child img {
  width: 60px;
  height: 60px;
}
 
.social a:last-child img {
  width: 48px;
  height: 48px;
}

a {
  margin-right: 20px;
}